@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  outline: none;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
}
